.error {
	display: block;
	color: red;
}

.address-status {
	display:block;
	color: red;
	font-size: 20px;
}

.address-page-block {
	/* display: none; */
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
	position: absolute;
	z-index: 9999;
	pointer-events: auto;
	transition: all 0.5s ease;
	margin: 2% 35%;
	text-align: center;
	justify-content: center;
}

.goback-button {
	float: right;
	background-color: white;
	color: red;
	border: 2px solid white;
	font-size: 20px;
	width: 30px;
	height: 30px;
}

.goback-button:hover {
	border: 1px solid red;
	border-radius: 4px;
}

.address-title-block {
	margin: 20px;
	font-weight: Bold;
	font-size: 30px;
}

.address-page {
	background-color: #d5f9ff;
	border: 10px solid rgb(246, 246, 246, 0.5);
	border-radius: 10px;
	min-height: 300px;
}

.login-signup-button-block {
	width: auto;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #d1d1d1;
}



.address{
	margin-top: 40px;
}

.input{
	border: 0px;
	border-bottom: 1px solid grey;
	background-color: #dcdcdc66;
	border-radius: 2px;
	height: 25px;
	width: 250px;
	margin: 5px;
	padding-left: 10px;
}
.state,.type{
	border: 0px;
	border-bottom: 1px solid grey;
	background-color: #dcdcdc66;
	border-radius: 2px;
	height: 25px;
	width: 263px;
	margin: 5px;
	padding-left: 10px;
}

.input:hover {
	border: 2px solid rgb(255, 255, 45, 0.75);
	border-radius: 5px;
	background-color: white;
}
.state:hover,.type:hover{
border: 2px solid rgb(255, 255, 45, 0.75);
	border-radius: 5px;
	background-color: white;	
}

.input:click {
	border: 2px solid rgb(255, 255, 45, 0.75);
	border-radius: 5px;
	background-color: white;
}
.state:click,.type:click{
	border: 2px solid rgb(255, 255, 45, 0.75);
	border-radius: 5px;
	background-color: white;
}

.input::placeholder {
	margin-left: 20px;
}

.state::placeholder,.type::placeholder{
	margin-left: 20px;	
}

.add-address-submit-button{
	padding: 8px 20px;
	font-weight: bold;
	font-size: 17px;
	background-color: yellow;
	border-radius: 3px;
	border: 1px solid yellow;
}

.add-address-submit-button:hover {
	background-color: light-blue;
	border: 1px solid white;
	color: green;
	border-radius: 5px;
}

/* .signuppage {
	display: none;
} */